<a href="https://colab.research.google.com/github/amitbisht99/resume_project_challenge_1/blob/main/dim_hotels_%26_rooms_tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv("/content/dim_hotels.csv")
df2 = pd.read_csv("/content/dim_rooms.csv")

In [3]:
df1.sample()

    property_id property_name category       city
12        18558  Atliq Grands   Luxury  Hyderabad

In [10]:
df2.sample()

  room_id room_class
1     RT2      Elite

In [4]:
# confirming about columns with missing values in the dataset
if df1.isna().any().any():
    print(f"Columns with missing values are -\n", df1.columns[df1.isna().any()].tolist())
else:
    print("No Columns with missing values found.")

No Columns with missing values found.

In [5]:
# confirming about columns with missing values in the dataset
if df2.isna().any().any():
    print(f"Columns with missing values are -\n", df2.columns[df2.isna().any()].tolist())
else:
    print("No Columns with missing values found.")

No Columns with missing values found.

In [9]:
# Check for duplicates in the 'column_name' column
duplicate_rows = df1[df1['property_id'].duplicated(keep='first')]

if not duplicate_rows.empty:
    print("Duplicate values found in ['property_id']:")
    print(duplicate_rows)
else:
    print("No duplicate values found in ['property_id']")

No duplicate values found in ['property_id']

In [ ]:
# Check for duplicates in the 'column_name' column
duplicate_rows = df1[df1['property_id'].duplicated(keep='first')]

if not duplicate_rows.empty:
    print("Duplicate values found in ['property_id']:")
    print(duplicate_rows)
else:
    print("No duplicate values found in ['property_id']")

In [12]:
df1['property_name'].unique()

array(['Atliq Grands', 'Atliq Exotica', 'Atliq City', 'Atliq Blu',
       'Atliq Bay', 'Atliq Palace', 'Atliq Seasons'], dtype=object)

In [14]:
df1['category'].unique()

array(['Luxury', 'Business'], dtype=object)

In [15]:
df1['city'].unique()

array(['Delhi', 'Mumbai', 'Hyderabad', 'Bangalore'], dtype=object)

In [16]:
df2['room_class'].unique()

array(['Standard', 'Elite', 'Premium', 'Presidential'], dtype=object)