<a href="https://colab.research.google.com/github/amitbisht99/resume_project_challenge_1/blob/main/dim_date_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv ("/content/dim_date.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      92 non-null     object
 1   mmm yy    92 non-null     object
 2   week no   92 non-null     object
 3   day_type  92 non-null     object
dtypes: object(4)
memory usage: 3.0+ KB

# **Checking for Missing Values**

In [4]:
# confirming about columns with missing values in the dataset
if df.isna().any().any():
    print(f"Columns with missing values are -\n", df.columns[df.isna().any()].tolist())
else:
    print("No Columns with missing values found.")

No Columns with missing values found.

# **Handling Data Consistencies**

In [5]:
# changed data type
df['date'] = df['date'].astype('datetime64[ns]')

In [6]:
# replacing values
df['day_type'] = df['day_type'].replace ('weekeday', 'weekday')

In [7]:
# removing column
df['day_type'] = df['day_type'].str.strip()

In [8]:
# replacing & triming values
df['week no'] = df['week no'].str.lstrip ('W ')

In [9]:
# spliting a column in two
df[['month', 'year']] = df['mmm yy'].str.split (' ', expand = True)

In [10]:
# extracting day from date
df['day'] = df['date'].dt.day

In [11]:
# deleting 'mmm yy' column
df.drop('mmm yy', axis=1, inplace=True)

In [12]:
df.sample()

         date week no day_type month year  day
41 2022-06-11      24  weekend   Jun   22   11

# **Data Transformation**

In [13]:
df = df[['date', 'day', 'month', 'year', 'week no', 'day_type']]

In [14]:
df.sample()

         date  day month year week no day_type
61 2022-07-01    1   Jul   22      27  weekday